label {
    padding-left: 10px;
}

input {
    font-size: 14px;
}

html,
body,
.todo {
    padding: 0;
    list-style-type: none;
}

body {
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.todo__input,
.todo__item {
    margin: 10px;
    display: block;
}

.js_toggle_todo {
    margin-inline-end: 10px !important;
}

.todo__main {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 200px;
}

.todo__input {
    margin-top: 30px;
    display: block;
}

.todo__item--done {
    text-decoration: line-through;
}

.intro {
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: 30px;
}

.radio-filters {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.radio-filters-input {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
    padding-left: 10px;
}

.radio-filters::before {
    border-radius: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.todo,
.options,
.radios {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

#app {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#todoInput {
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addTodo {
    margin-left: 10px;
}